@charset "UTF-8";

/* Todas as Mídias */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background: black url('../imagens/back-phone.jpg') no-repeat; 
    background-size: cover;
    background-position: center center;
    padding-top: 20px;
}

main {
    background-color: #ffffffce;
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.339);
}

img {
    display: block;
     margin: auto;
}

img#cel { display: block; }
img#tab { display: none; }
img#print { display: none; }
img#pc { display: none; }
img#tv { display: none; }