@charset "UTF-8";

 /* Declarações Gerias */

    @media all {
        * {
            margin: 0;
            padding: 0;
            }

        html, body { 
            width: 100vw;
            height: 100vh;
            background-color: #233eff;
        }

        h1 {
            color: #fff;
            text-shadow: 3px 3px 0 #1525a3;
            padding: 10px;
        }
    }
        

        /* Declarações Vertical */

        @media screen and (orientation: portrait) {

            body {
            background: url('../imagens/cev-portrait.jpg');
            width: 100vw;
            height: 100vh;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center bottom;
        }
                
        }


        /* Declaração Paisagens */

        @media screen and (orientation: landscape) {

            body {
            background: url('../imagens/cev-landscape.jpg');
            width: 100vw;
            height: 100vh;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center bottom;
            }
            
        }